.side-bar{
    position:fixed;
    top:55px;
    left:0;
    bottom:0;
    background-color: white;
    width: 75px;
    z-index: 200;
    overflow-y: scroll;
}



.side-bar-links{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    cursor: pointer;
}

.side-bar-links:hover   {
    background-color: rgb(236, 236, 236);
}

.side-bar-links img{
    height: 24px;
}

.side-bar-links div{
    font-size: 10px;
}

@media (min-width:1200px){
    .side-bar{
        width:150px;
    }

    body{
        padding-left: 160px;
    }

    .side-bar-links{
        flex-direction: row;
        column-gap: 5px;
        justify-content: start;
        padding:0px 10px;
    }
    .side-bar-links div{
        padding-top:1px;
        font-size:13px;
    }
}